
.form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.form2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200px b;
}
  
  input[type="datetime-local"] {
    padding: 8px;
    font-size: 16px;
    margin: 8px;
    width: 300px;
  }

  .info {

    padding: 16px;
    background-color: lightgray;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  input[type="datetime-local"] {
    padding: 16px;
    font-size: 20px;
    margin: 8px;
    width: 300px;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 8px;
  }
  
  button[type="button"] {
    padding: 8px 16px;
    font-size: 16px;
    background-color: lightblue;
    color: white;
    border: 1px solid blue;
    border-radius: 8px;
    cursor: pointer;
  }

  #fname {
    height: 30rem;
    width: 40rem;
  }

  #fbutton {
    margin-left: 2rem;
    margin-top: 28rem;
  }

  .Tillbaka {
    margin-top: 2rem;
    margin-left: 2rem;
  }